nav {
    width: 60px;
    /* Ban đầu chỉ hiển thị icon */
    height: 100vh;
    background-color: #605bff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: width 0.3s ease;
    /* Hiệu ứng mở rộng */
    overflow: hidden;
    /* Ngăn các phần tử bị tràn */
}

nav:hover {
    width: 250px;
    /* Mở rộng khi hover */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Giữ cho icon ở bên trái */
    color: white;
    text-decoration: none;
    /* Không có gạch chân cho cả icon và text */
    font-size: 1rem;
    border-radius: 4px;
    white-space: nowrap;
    transition: background-color 0.3s;
    /* Hiệu ứng chuyển cho background */
}

nav ul li a span {
    opacity: 0;
    /* Ẩn text ban đầu */
    transform: translateX(-10px);
    /* Đẩy text sang bên trái */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Hiệu ứng chuyển cho text */
    margin-left: 10px;
    /* Thêm khoảng cách giữa icon và text */
}

nav:hover ul li a span {
    opacity: 1;
    /* Hiển thị text khi hover vào nav */
    transform: translateX(0);
    /* Đưa text về vị trí ban đầu */
}

nav ul li a i {
    padding: 10px 0px;
    min-width: 40px;
    font-size: 1.5rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Đảm bảo icon luôn ở giữa */
}


nav ul li a:hover {
    background-color: #575757;
    /* Thay đổi màu nền khi hover */
    color: white;
    /* Giữ màu chữ */
    text-decoration: none;
    /* Đảm bảo không có gạch chân khi hover */
}

nav ul li a:hover span {
    text-decoration: none;
    /* Gạch chân văn bản khi hover */
}
